# Nuxt dev/build outputs
client-old/.output
client-old/.nuxt
client-old/.nitro
client-old/.cache
client-old/dist

# Node dependencies
client-old/node_modules

# Logs
client-old/logs
client/*.log

# Misc
client-old/.DS_Store
client-old/.fleet
client-old/.idea

# Local env files
client-old/.env
client-old/.env.*
client-old/!.env.example


# compiled output
server/dist
server/node_modules

# Logs
server/logs
server/*.log
server/npm-debug.log*

# OS
server/.DS_Store

# IDEs and editors
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace
.vercel


# Nuxt dev/build outputs
client/.output
client/.nuxt
client/.nitro
client/.cache
client/dist

# Node dependencies
client/node_modules

# Logs
client/logs

# Misc
client/.DS_Store
client/.fleet
client/.idea

# Local env files
client/.env
client/.env.*
client/!.env.example
